



:root {
    --footer-horizontal-padding: 0px;
}

* {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    font-family: arial,sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-left {
    padding-left: 18px;
}

header a {
    margin: 8px;
    display: inline-block;
}


.header-right {
    padding-right: 32px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.search-bar {
    padding: 26px;
}

.search-input {
    font-size: 14px;
    max-width: 90vw;
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 50%;
    border-radius: 24px;
}

footer {
    background-color: #f2f2f2;
}

footer a {
    color: rgba(0,0,0,.54);
    border: 0px solid blue;
    margin: 15px;
}

.footer-bottom-el {
    border: 0px solid red;
    padding: 15px;
}


.footer-top {
    border-bottom: 1px solid rgb(218, 220, 224);
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;   
    justify-content: space-between;
    padding-left: var(--footer-horizontal-padding);
    padding-right: var(--footer-horizontal-padding);
}

.leaf-icon {
    width: 12px;
    height: auto;
    margin-right: 2px;
}

.sign-in-button {
    background-color: #4387fd;
    color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 4px;
}